In [96]:
%matplotlib inline
import pandas as pd # work with data as tables
import numpy as np # matrix
import matplotlib.pyplot as plt
import tensorflow as tf

### load data

In [97]:
df = pd.read_csv('data.csv')
df[:3]

   index    area  bathrooms     price   sq_price
0      0  2104.0        3.0  399900.0  190.06654
1      1  1600.0        3.0  329900.0  206.18750
2      2  2400.0        3.0  369000.0  153.75000

In [98]:
df = df.drop(["index", "price", "sq_price"],axis=1) # remove some features

In [99]:
df[:3]

     area  bathrooms
0  2104.0        3.0
1  1600.0        3.0
2  2400.0        3.0

In [100]:
df.shape

(47, 2)

In [101]:
df = df[0:10]
df.shape

(10, 2)

### labels

In [102]:
# This is our friend's list of which houses she liked
# 1 good ,  0 bad
df.loc[:, ("y1")] = [1, 1, 1, 0, 0, 1, 0, 1, 1, 1]

In [103]:
# y2 is the negation of y1
df.loc[:, ("y2")] = df["y1"] == 0

In [104]:
df

     area  bathrooms  y1     y2
0  2104.0        3.0   1  False
1  1600.0        3.0   1  False
2  2400.0        3.0   1  False
3  1416.0        2.0   0   True
4  3000.0        4.0   0   True
5  1985.0        4.0   1  False
6  1534.0        3.0   0   True
7  1427.0        3.0   1  False
8  1380.0        3.0   1  False
9  1494.0        3.0   1  False

In [105]:
# Turn TRUE/FALSE values into 1/0
df.loc[:, ("y2")] = df["y2"].astype(int)
df

     area  bathrooms  y1  y2
0  2104.0        3.0   1   0
1  1600.0        3.0   1   0
2  2400.0        3.0   1   0
3  1416.0        2.0   0   1
4  3000.0        4.0   0   1
5  1985.0        4.0   1   0
6  1534.0        3.0   0   1
7  1427.0        3.0   1   0
8  1380.0        3.0   1   0
9  1494.0        3.0   1   0

### convert data to tensors

In [106]:
inputX = df.loc[:, ['area', 'bathrooms']].as_matrix()
inputY = df.loc[:, ["y1", "y2"]].as_matrix()

In [107]:
inputX

array([[  2.10400000e+03,   3.00000000e+00],
       [  1.60000000e+03,   3.00000000e+00],
       [  2.40000000e+03,   3.00000000e+00],
       [  1.41600000e+03,   2.00000000e+00],
       [  3.00000000e+03,   4.00000000e+00],
       [  1.98500000e+03,   4.00000000e+00],
       [  1.53400000e+03,   3.00000000e+00],
       [  1.42700000e+03,   3.00000000e+00],
       [  1.38000000e+03,   3.00000000e+00],
       [  1.49400000e+03,   3.00000000e+00]])

In [108]:
inputY

array([[1, 0],
       [1, 0],
       [1, 0],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [1, 0],
       [1, 0],
       [1, 0]])

In [109]:
print inputY.shape
print inputY.size

(10, 2)
20

In [110]:
# paramters
learning_rate = 0.00001
training_epochs = 2000
display_step = 50
n_samples = inputY.size

In [111]:
# computation graph

# gateways for data
x= tf.placeholder(tf.float32, [None, 2])

# weight matrix: 2x2
W = tf.Variable(tf.zeros([2,2]))

# biases
b = tf.Variable(tf.zeros([2]))

# y = mx + b
y_values = tf.add(tf.matmul(x, W), b)

# apply activation function
y = tf.nn.softmax(y_values)

# matrix of labels
y_ = tf.placeholder(tf.float32, [None, 2])


### cost function

In [112]:
# Cost function: Mean squared error
cost = tf.reduce_sum(tf.pow(y_ - y, 2))/(2*n_samples)

# gradient
optimizer = tf.train.GradientDescentOptimizer(learning_rate).minimize(cost)

In [113]:
init = tf.initialize_all_variables()
sess = tf.Session()
sess.run(init)

WARNING:tensorflow:From <ipython-input-113-80f4a80570a7>:1 in <module>.: initialize_all_variables (from tensorflow.python.ops.variables) is deprecated and will be removed after 2017-03-02.
Instructions for updating:
Use `tf.global_variables_initializer` instead.

In [115]:
for i in range(training_epochs):  
    sess.run(optimizer, feed_dict={x: inputX, y_: inputY})

    if i % display_step == 0:
        cc = sess.run(cost, feed_dict={x: inputX, y_:inputY})
        print "Training step:", '%04d' % (i), "cost=", "{:.9f}".format(cc)

Training step: 0000 cost= 0.112964347
Training step: 0050 cost= 0.112964377
Training step: 0100 cost= 0.112964407
Training step: 0150 cost= 0.112964414
Training step: 0200 cost= 0.112964436
Training step: 0250 cost= 0.112964474
Training step: 0300 cost= 0.112964496
Training step: 0350 cost= 0.112964533
Training step: 0400 cost= 0.112964533
Training step: 0450 cost= 0.112964571
Training step: 0500 cost= 0.112964608
Training step: 0550 cost= 0.112964645
Training step: 0600 cost= 0.112964667
Training step: 0650 cost= 0.112964705
Training step: 0700 cost= 0.112964712
Training step: 0750 cost= 0.112964727
Training step: 0800 cost= 0.112964764
Training step: 0850 cost= 0.112964794
Training step: 0900 cost= 0.112964831
Training step: 0950 cost= 0.112964854
Training step: 1000 cost= 0.112964883
Training step: 1050 cost= 0.112964906
Training step: 1100 cost= 0.112964943
Training step: 1150 cost= 0.112964943
Training step: 1200 cost= 0.112964973
Training step: 1250 cost= 0.112965010
Training step: 1300 cost= 0.112965032
Training step: 1350 cost= 0.112965085
Training step: 1400 cost= 0.112965085
Training step: 1450 cost= 0.112965129
Training step: 1500 cost= 0.112965152
Training step: 1550 cost= 0.112965167
Training step: 1600 cost= 0.112965189
Training step: 1650 cost= 0.112965226
Training step: 1700 cost= 0.112965249
Training step: 1750 cost= 0.112965271
Training step: 1800 cost= 0.112965301
Training step: 1850 cost= 0.112965323
Training step: 1900 cost= 0.112965360
Training step: 1950 cost= 0.112965368

In [116]:
print "Optimization Finished!"
training_cost = sess.run(cost, feed_dict={x: inputX, y_: inputY})
print "Training cost=", training_cost, "W=", sess.run(W), "b=", sess.run(b), '\n'

Optimization Finished!
Training cost= 0.110939 W= [[ 0.00013974 -0.00013974]
 [ 0.00091125 -0.00091125]] b= [ 0.00019024 -0.00019024]

### test

In [117]:
sess.run(y, feed_dict={x: inputX })

array([[ 0.64425206,  0.35574797],
       [ 0.61135489,  0.38864508],
       [ 0.66297781,  0.33702222],
       [ 0.5986312 ,  0.40136886],
       [ 0.69974869,  0.30025133],
       [ 0.6370151 ,  0.3629849 ],
       [ 0.6069634 ,  0.39303663],
       [ 0.59980714,  0.40019289],
       [ 0.59665   ,  0.40334994],
       [ 0.60429335,  0.39570665]], dtype=float32)